
header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form, h5{
    padding-left: 10px;
    font-size: 20px;
    width: 80%;
    border-radius:6px;
    
}

article {
    padding-left: 10px;
    text-align: center;
}


.content {
    overflow-y: scroll;
    max-height:20vh;
    width: 80%;
    font-family:'Courier New', Courier, monospace;
}

